<div class="search-results"
infiniteScroll
[infiniteScrollDistance]="3"
[infiniteScrollThrottle]="1000"
(scrolled)="onScroll()">
  <div style="margin: '30px'; border: '2px solid black'; border-radius: '4px'; padding: '20px';"
    *ngFor="let r of topRepos">
    <img style="max-width: '140px';" [src]="r.owner.avatar_url" alt="">
    <p><strong>Repo Name: </strong>{{r.name}}</p>
    <p><strong>Description: </strong>{{r.description}}</p>
    <p><strong>Username: </strong>{{r.owner.login}}</p>
    <p><strong>Stars: </strong>{{r.stargazers_count}}</p>
    <p><strong>Issues: </strong>{{r.open_issues_count}}</p>
  </div>
</div>